.expenseCategory {
  // &Container {

  // }

  &Title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #181818;

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  &Icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .5rem;
    background-color: red;
  }

  &ItemList{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 1.5rem;
  }
}