.expenseCategory {
  &Container {
    background-color: #191b38;
    padding: 1.75rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h4 {
      font-size: 1.25rem;
      font-weight: 500;
      text-align: start;
    }
  }

  &List {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &Icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .5rem;
    background-color: red;
  }

  &Data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;

    font-weight: 500;
  }
}