.sideMenu {
  &Container {
    left: 0;
    top: 0;
    background-color: #0d245a;
    height: 100vh;
    padding: 1rem;
    width: 12vw;
  }

  &ItemsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
  }

  &ItemName {
    cursor: pointer;
  }
}