.iconListContainer {
  display: flex;
  gap: .5rem;
  max-width: 75%;
  flex-wrap: wrap;
}

.iconBoxContainer {
  background-color: #CAC4CE!important;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: .5rem;

  border-radius: .2rem;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }
}

.iconActive {
  background-color: #CAC4CE!important;
  filter: brightness(80%);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: .5rem;

  border-radius: .2rem;
}